{% extends 'admin.html' %}

{% block main_content %}
  <div class="container mx-auto p-6">
    <h1 class="text-3xl font-bold mb-4">Agregar Administrador</h1>

    <form method="POST" class="container space-y-4 w-full bg-base-200 p-4 rounded shadow">
      <div class="flex flex-row w-full">
        <div class="w-1/2 flex flex-col px-2">
          {% csrf_token %}

          <div class="form-control">
            <label class="label">{{ form.email.label }}</label>
            {{ form.email }}
          </div>

          <div class="form-control">
            <label class="label">{{ form.first_name.label }}</label>
            {{ form.first_name }}
          </div>

          <div class="form-control">
            <label class="label">{{ form.last_name.label }}</label>
            {{ form.last_name }}
          </div>

          <div class="form-control">
            <label class="label">{{ form.phone_number.label }}</label>
            {{ form.phone_number }}
          </div>

          <div class="form-control">
            <label class="label">{{ form.address.label }}</label>
            {{ form.address }}
          </div>

          <div class="form-control">
            <label class="label">{{ form.password1.label }}</label>
            {{ form.password1 }}
          </div>

          <div class="form-control">
            <label class="label">{{ form.password2.label }}</label>
            {{ form.password2 }}
          </div>
        </div>
        <div class="w-1/2 flex flex-col px-2">
          <div class="form-control">
            <label class="label">Negocio</label>
            <select name="id_business" class="select select-sm select-bordered">
              <option value="">Selecciona un negocio</option>
              {% for business in businesses %}
                <option value="{{ business.id }}">{{ business.name }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="form-control">
            <label class="label">Cargo</label>
            <input type="text" name="position" class="input input-sm input-bordered" placeholder="Cargo">
          </div>
        </div>
      </div>
      <div class="flex flex-row w-full space-x-4 mt-4">
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a href="{% url 'users_list' %}" class="btn btn-secondary">Cancelar</a>
      </div>
    </form>
  </div>
{% endblock %}
